html{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(185, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%),
        radial-gradient(at 0% 0%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}
form{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(185, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%),
        radial-gradient(at 0% 0%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}
.card{
    backdrop-filter: blur(19px) saturate(185%);
    -webkit-backdrop-filter: blur(19px) saturate(185%);
    background-color: rgba(17, 25, 40, 0.51);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);

}

.card{
    /* width:400px;
    background-color:#fff; */
    border:none;
    border-radius: 12px
}
label.radio{
    cursor: pointer;
    width: 100%
}
label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}
label.radio span{
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px
}
label.radio input:checked+span{
    border-color: #039BE5;
    background-color: #81D4FA;
    color: #fff;
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}
.form-control{
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #93abb8
}
.agree-text{
    font-size: 12px;
    color: whitesmoke;
}
.terms{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.confirm-button{
    height: 50px;
    border-radius: 10px
}
.confirm-button:focus{
    box-shadow: none;
    border: 2px solid #93abb8
}  
input[type="text"],
input[type="email"],
input[type="number"]{
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 20px;
    border-radius: 10px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
    box-shadow: none;
    border: 2px solid #93abb8;
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 20px;
    border-radius: 10px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    caret-color: #1abce8;
}

::placeholder{
    color: whitesmoke;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,input[type="number"]::placeholder{
    color: whitesmoke;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
}
.button{
    background-color:rgb(25, 170, 223);
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
}

